In [5]:
import pandas as pd

#turns off warning messages
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#TODO 
#read all 5 pages of the schdedule into a single pandas datadframe
#figure out which are grad / undergrad
#display the undergrad 12 am classes
#display the undergrad tuesday classes

In [75]:
def get_classes_from_website():
    classes = pd.DataFrame()
    #start @ 1 ends at 5 
    for num in range(1, 6): 
        website = 'https://ischool.syr.edu/classes/?page=' + str(num)
        datalist = pd.read_html(website)
        classes = classes.append(datalist[0]) 
    return classes

def engineer_grad_ugrad(classes):
    classes = classes.head(5)
    #take the last three courses and store into CourseNum column
    classes['CourseNum'] = classes['Course'].str[3:]
    classes['Type'] = 'None'
    #takes current CourseNum as type int (initally a string) to compare whos grad(i.e G) or undergrad(i.e U)
    classes['Type'][ classes['CourseNum'].astype(int) >= 500 ] = 'G'
    classes['Type'][ classes['CourseNum'].astype(int) < 500 ] = 'U'
    return classes

In [111]:
df = ""
classes = get_classes_from_website()
classes = engineer_grad_ugrad(classes)
ugrad = classes[ classes['Type'] =='U' ]
choice = input("Do you want 12am classes or Tuesday classes? Enter 12 or T: ").upper()
if choice == "12":
    df = ugrad[ ugrad['Time'].str.find("12:00am")>=0]
elif choice == 'T': 
    df = ugrad[ ugrad['Day'].str.find("Tu")>=0]
else: 
    print("Please read the instructions")
    
df

Do you want 12am classes or Tuesday classes? Enter 12 or T: 12

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s),CourseNum,Type
1,GET460,M001,37855,3.0,Global Technology Abroad,Michael Fudge,12:00am - 12:00am,NaN,NaN,460,U
2,GET460,M002,41825,3.0,Global Technology Abroad,Paul Brian Gandel,12:00am - 12:00am,NaN,NaN,460,U

In [99]:
twelve_am

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s),CourseNum,Type
1,GET460,M001,37855,3.0,Global Technology Abroad,Michael Fudge,12:00am - 12:00am,NaN,NaN,460,U
2,GET460,M002,41825,3.0,Global Technology Abroad,Paul Brian Gandel,12:00am - 12:00am,NaN,NaN,460,U

In [100]:
tuesday

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s),CourseNum,Type
0,GET302,M001,37675,3.0,Global Financial Sys Arch,vcschoon,5:00pm - 7:45pm,Tu,Hinds Hall 011,302,U